div{
display: inline-block;
;

}




.one{
width: 33.3vw;
height: 30vh;
background-color: brown;


}
.two {
    width: 33.3vw;
    height: 30vh;
    background-color: chocolate;


}
.three {
    width: 30vw;
    height: 30vh;
    background-color: rgba(255, 0, 0, 0.479);
}
a{
color: white;
font-size: 30px;
margin: 40px 40px 40px 40px;
}
body{
background-color:moccasin ;

}
img{
display: block;
margin: 40px 40px 40px 40px;
}
.ted{
position: relative;
margin: 90px 30px 30px 500px;

}
.era{
text-align: center;
font-size: 50px;
font-family: cursive;

}






.ted::before{
    content:"" ;
position: absolute;
border: 5px solid red;
width: 25vw;
height: 50vh;
z-index: 2;
top: -1.5%;
left: -7%;
box-sizing: border-box;
}


.fancy{
width: 20vw;
height:200px ;
background-color: aqua;
margin-left: 750px;
color: black;
text-align: center;
border: 3px solid black;
padding-top: 80px;
animation-name: spin;
animation-duration: 1.3s;
animation-iteration-count: infinite;



}

@keyframes  spin{
0%{
transform: rotate(0deg);

}
50%{
  
}
100%{
transform: rotate(360deg);
border-radius: 50%;
scale: 1.3;
font-size: 70px;
}
}
.fancy>a{
color: black;
font-size: 50px;
background-color: bisque;
}
.two>a{
border: 2px soid black;
width: 20px;
height: 5px;
background-color: black;
border-radius: 25px;
padding: 1px 10px 10px 10px;
margin-left: 130px;
}
.story{
margin: 50px 50px 50px 50px;
font-size: 40px;

}
h1{
text-align: center;

}
span{
background-color:blueviolet;
font-family: cursive;
}

.back>a{
color: white;
border: 2px solid black;
padding: 10px 10px 10px 10px;
background-color: brown;
border-radius: 30%;

}
.three>a{
border: 2px solid black;
padding: 0.7px 10px 10px 10px;
background-color: black;
border-radius: 30px;


}
.one>a{
border: 2px solid black;
    padding: 0.7px 10px 10px 10px;
    background-color: black;
    border-radius: 30px;




}
.wyns{
font-size: 30px;

}
.Dee{
color: black



}





div>a{
background-color: blue;

}
#fu{
font-size: 30px;

}















